doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./public/css/historypage.css")
        title Main
    body
        header 
            h1 TEAM JLB
        main
            div#meetingList
                div#title 🔍 회의 히스토리
                div#searchbar
                    input(type="text" placeholder="Search ...")
                    img(src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png")
                div#meetingTable
                    table
                        thead
                            tr
                                th 개설 날짜
                                th 회의 주제
                                th 참가자
                                th 회의 요약
                                th 메모
                                th 주요 키워드
                        tbody#meetingTbody
                            tr
                                td 2022/01/05
                                td 동아리 신입 부원 면접 관련 회의
                                td
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 회의 요약 내용
                                td
                                    button#memo 메모 보기
                                td
                                    button 면접
                                    button 깃허브
                                    button 인성
                            tr
                                td 2022/01/05
                                td 신입 부원 면접 내용 공유, 최종 선발
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 회의 요약 내용
                                td
                                    button#memo 메모 보기
                                td
                                    button 
                                    button 
                                    button 
                            tr
                                td 2022/01/05
                                td 동아리 신입 부원 면접 관련 회의
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 회의 요약 내용
                                td
                                    button#memo 메모 보기
                                td
                                    button 면접
                                    button 깃허브
                                    button 인성
                            tr
                                td 2022/01/05
                                td 동아리 신입 부원 면접 관련 회의
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 회의 요약 내용
                                td
                                    button#memo 메모 보기
                                td
                                    button 면접
                                    button 깃허브
                                    button 인성
                    


        script(src="/public/js/meetingHistory.js")