doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./public/css/historypage.css")
        script(src="https://kit.fontawesome.com/2fa87f4b4b.js" crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet")
        title Main
    body
        header 
            h1#logo TEAM JLB
            i(class="fa-solid fa-user fa-xl")
        main
            div#meetingList
                div#historytitle
                    div#title 🔍 회의 히스토리
                    div#searchbar
                        input(type="text" placeholder="Search ...")
                        img(src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png")
                div#meetingTable
                    table
                        thead
                            tr
                                th 개설 날짜
                                th 회의 주제
                                th 참가자
                                th 회의 발언 요약
                                th 메모
                                th 주요 키워드
                        tbody#meetingTbody
                            tr
                                td 2022/03/15
                                td 주제 선정을 위한 회의
                                td
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 주제
                                    button 얼굴인식
                                    button 서비스
                            tr
                                td 2022/03/16
                                td 지도 교수님과의 미팅 - 주제 피드백
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 피드백
                                    button 트래킹
                                    button 주제
                            tr
                                td 2022/03/30
                                td 주제, 시나리오, 주요 기능, 어려운 점 작성
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 트래킹
                                    button 서버
                                    button 데이터베이스
                            tr
                                td 2022/04/05
                                td 개요, 기능적 요구사항 - Use Case Diagram 작성
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 사용자
                                    button 히스토리
                                    button 다이어그램
                            tr
                                td 2022/04/07
                                td 추가 기능 제안 : 타임라인 기능에 대한 논의
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 녹화
                                    button 데이터베이스
                                    button 유용성
                            tr
                                td 2022/04/14
                                td 기능 고급화 및 STT를 통한 회의 요약 기능 추가
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button STT
                                    button 회의록
                                    button 피드백
                            tr
                                td 2022/05/18
                                td 프로젝트 리스크 정의
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 호환성
                                    button 오픈소스
                                    button API
                            tr
                                td 2022/05/26
                                td 프로토타입 설계
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button socket
                                    button 오픈소스
                                    button UI
                            tr
                                td 2022/06/07
                                td 프로토타입 구현
                                td 
                                    button Jeonghyeon
                                    button Haein
                                    button Jaeho
                                td
                                    button#summary 요약 보기
                                td
                                    button#memo 메모 보기
                                td
                                    button 화상회의
                                    button 히스토리
                                    button 디자인
                    


        script(src="/public/js/meetingHistory.js")