@import "reset.css";

:root {
  --black-color: #212121;

  --eerie-black: #1c1c1cff;
  --gainsboro: #daddd8ff;
  --alabaster: #ecebe4ff;
  --cultured: #eef0f2ff;
  --ghost-white: #fafaffff;

  --green-icon-color: #23c552;
  --red-icon-color: #f85031;
  --white-icon-color: #fff;

  --modal-box-color: #8eacbb;
  --modal-btn-color: #62ccff;

  --rich-black-fogra-29: #0d1b2aff;
  --oxford-blue: #1b263bff;
  --bdazzled-blue: #415a77ff;
  --shadow-blue: #778da9ff;
  --platinum: #e0e1ddff;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: var(--black-color);
}

main {
  width: 100%;
  height: 93vh;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
video {
  border-radius: 15px;
}
#welcome form {
  width: 500px;
  height: 400px;

  /* background-color: #62727b; */
  border: 2px solid var(--alabaster);
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcometitle {
  padding-bottom: 40px;
  font-size: 20px;
}

#welcome input {
  width: 70%;
  height: 10%;
  padding: 10px 10px;
  margin-bottom: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 16px;
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
}

#welcome input:focus {
  background-color: #f5f5f9;
}

#welcome button {
  width: 20%;
  height: 10%;
  margin-top: 10px;

  color: var(--eerie-black);
  background: none;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 3px;

  transition: all 0.1s ease-in-out;
}

#welcome button:hover {
  background-color: #f5f5f9;
  color: var(--eerie-black);
}

.call {
  width: 100%;
  height: 100%;
  display: flex;
}

#streamBox {
  position: relative;
  width: 80%;
  height: 100%;
  background-color: rgb(64, 64, 64);
}

#streamBox #streams {
  width: 100%;
  height: calc(100% - 58px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

#streamBox #streams video {
  width: 100%;
  height: 100%;
  border-radius: 15px;

  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  -moz-transform: rotateY(180deg); /* Firefox */
}

/* row 1 */
#streamBox #streams .people1 {
  width: 70%;
  height: 70%;
}

/* row 1 */
#streamBox #streams .people2 {
  width: 47%;
  height: 47%;
}

/* row 2 */
#streamBox #streams .people3,
#streamBox #streams .people4 {
  width: 45%;
  height: 42%;
}

/* row 2 */
#streamBox #streams .people5,
#streamBox #streams .people6 {
  width: 32%;
  height: 32%;
}

#streamBox #streams #userNickname {
  margin-top: 5px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

#streamBox #controlers {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;

  background-color: #b6b6b6;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#streamBox #controlers #controlers__column {
  width: calc(100% / 3);
  height: 100%;

  display: flex;
  align-items: center;
}
#streamBox #controlers #controlers__column1 {
  padding-left: 20px;
}
#streamBox #controlers #controlers__column2 {
  justify-content: center;
}
#streamBox #controlers #controlers__column3 {
  justify-content: flex-end;
  padding-right: 20px;
}

#streamBox #controlers select {
  padding: 7px 12px;

  color: whitesmoke;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.4);

  box-shadow: var(--eerie-black) 0px 7px 29px 0px;
}

#streamBox #controlers #buttons button {
  padding: 5px 15px;
  margin-right: 10px;
  background: none;
  border: none;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}
#streamBox #controlers #buttons {
  justify-content: space-between;
}

#streamBox #controlers #buttons button:hover {
  background-color: #c8cfdf;
}

#streamBox #controlers #buttons button:first-child {
  /*margin-right: 10px;*/
}

#streamBox #controlers #buttons .unMuteIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers #buttons .muteIcon {
  color: var(--red-icon-color);
}

#streamBox #controlers #buttons .cameraIcon {
  color: var(--green-icon-color);
}

#streamBox #controlers #buttons .unCameraIcon {
  color: var(--red-icon-color);
}
#streamBox #controlers #buttons .chatIcon {
  color: var(--white-icon-color);
}
#streamBox #controlers #buttons .memoIcon {
  color: var(--white-icon-color);
}

#streamBox #controlers #leave {
  padding: 10px;
  font-size: 14px;
  border: none;
  font-weight: 500;
  border-radius: 10px;
  background: #ffb3a3;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}

#streamBox #controlers #leave:hover {
  /* background-color: var(--gainsboro); */
  color: var(--red-icon-color);
}

#chatview h3 {
  font-size: 20px;
  padding: 20px 10px 10px 10px;
  font-weight: 500;
  align-content: center;
  text-align: center;
}

#chatRoom {
  position: relative;
  width: 24%;
  height: 100%;
  background-color: #e9f2f9;

  border-left: 2px solid #c8c8c8;
}

#chatRoom #chatBox {
  position: absolute;
  bottom: 150px;
  left: 0;

  width: 100%;
  height: calc(100% - 150px);
  padding: 5px 10px;

  display: flex;
  flex-direction: column-reverse;

  overflow-y: auto;
  overflow-wrap: break-word;
  color: var(--eerie-black);
}

#chatRoom #chatBox li {
  letter-spacing: 1px;
  margin-bottom: 7px;
}

#chatRoom #chatBox .myChat {
  opacity: 0.6;
}

#chatRoom #chatBox .noticeChat {
  color: var(--eerie-black);
}

#chatRoom #chatForm {
  position: absolute;
  bottom: 1px;
  left: 0;

  width: 100%;
  height: 150px;
  background-color: white;
  border-top: 1px solid silver;
}

#chatRoom #chatForm input {
  position: relative;

  width: 80%;
  height: 100%;
  padding: 8px 10px;

  letter-spacing: 1px;
  background: none;
  border: none;
  outline: none;
  font-size: 15px;

  background-color: white;
  /* transition: all 0.3s ease-in-out; */
}

#chatRoom #chatForm button {
  position: absolute;
  /* top: 5%;
  right: 1%; */

  width: 20%;
  height: 100%;

  /* letter-spacing: 1px; */
  text-align: center;
  background: none;
  /* border: 1px solid rgba(0, 0, 0, 0.3); */
  /* border-radius: 5px; */
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 3px;
  border: none;
  transition: all 0.25s ease-in-out;
  background-color: white;
}

#chatRoom #chatForm button:hover {
  background-color: var(--alabaster);
  color: var(--black-color);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal__box {
  width: 500px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 30px;

  background-color: var(--modal-box-color);
}

.modal__text {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

.modal__btn {
  margin-top: 40px;
  padding: 5px 30px;

  background-color: var(--black-color);
  color: var(--modal-btn-color);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;

  transition: all 0.25s ease-in-out;
}

.modal__btn:hover {
  background-color: var(--modal-btn-color);
  color: var(--black-color);
}

.hidden {
  display: none;
}

#memo {
  height: 100%;
  align-content: center;
  border: none;
  background-color: #fffcf3;
}

/* #memo h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  align-content: center;
  text-align: center;
} */
#memotitle {
  height: 40px;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 10px;
  align-content: center;
  text-align: center;
  height: 7%;
}
#memoarea {
  width: 100%;
  height: 93%;
  height: (100%-40px);
}

#memotext {
  font-size: 15px;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 20px;
  outline: none;
}
#memotext:focus {
  background-color: #fff7e0;
}
